@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap');
.bg-1 {
    background-image: url(../Assets/background-1.jpg);
    // background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
}
.bg-2 {
    background-image: url(../Assets/background-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
}

.bg-overlay {
    background-color: #000000;
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 900px;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.all-center {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.text-title {
    color: #EBE821;
    font-size: 120px;
    line-height: 90px;
    font-weight: 600;
    font-family: 'Nanum Brush Script', cursive;
}


.text-content {
    color: #EBE821;
    font-size: 18px;
    font-weight: 700;
    // font-family: Nanum Brush Script", Sans-serif;
}